#postListingContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  h2{
    flex: 0 0 100%;
  }
  .content-card{
    width: 30vw;
  }
  @media screen and (max-width: 900px){
    .content-card{
      width: 100vw;
    }
  }
}