$blue-grey: rgba(89, 114, 167, 1);
$light-blue: rgba(128, 225, 225, 1);
$teal: rgba(33, 141, 141, 1);
$deep-orange: rgba(255, 158, 128, 1);
$brown: rgba(204, 190, 185, 1);
$light-black: rgba(0,0,0,.87);
$lighter-black: rgba(0,0,0,.54);
$primary-color: $blue-grey;
$secondary-color: $deep-orange;
$tertiary-color: $teal;
$text-color: $light-black;
$text--secondary-color: $lighter-black;
$post-bg-color: white;
