@use "MainLayout.scss";
@use "../Header/header.scss";
@use "../PostTags/PostTags.scss";
@use "../PostListing/PostListing.scss";
@use "../PostListing/PostPreview.scss";
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Material+Icons');
@import 'theme.scss';
