$md-blue-grey-500: rgb(97, 97, 228);
$md-deep-orange-a-100: orange;
$md-brown-100: brown;
$md-primary-color: $md-blue-grey-500;
$md-secondary-color: $md-deep-orange-a-100;
$md-tertiary-color: $md-brown-100;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
