.chip {
  align-items: center;
  background: #e0e0e0;
  border: 0;
  border-radius: 16px;
  display: inline-flex;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  transition-duration: .15s;
  transition-property: box-shadow,background;
  vertical-align: top;
  white-space: nowrap;
}