.book-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

    .book-title {
        color: red;
    }

    .book-image {
        border-radius: 10%;
    }
}
